html {
    height:100%;
}

body {
    margin:0;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #bfa96c 50%, #5d5136 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
    animation-duration: 5s;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
}

.bg3 {
    animation-duration: 7s;
}

.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}


.logo-invest{
    width: 40px;

}

.nav-item {
    margin-right: 20px;
    transition: font-size 0.3s;            
}

.navbar-nav .nav-item .nav-link:hover {
    color: #bfa96c;
    font-weight: bold; 
    box-shadow: 0px 1px 0px 0px #bfa96c; 
    font-size: 102%;

}

/* Telas 280px */
@media (max-width:280px) {
    .stepIndicator {
        white-space: normal;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
        font-size: 0.7em;
    }

}

/* Telas 320 :.: */
@media (max-width: 424px) {
    .stepIndicator {
        white-space: normal;
        text-align: center;
        width: 100%;
        /* ocupar toda a largura ! */
        margin-bottom: 5px;
        /* espaço */
        font-size: 0.8em;
    }
    .navbar .navbar-toggler {
        margin-left: 100px;

    }

    .logo-invest {
        display: none;
    }

    .IDADE{
        position: relative;
    }

    .IDADE::after {
    content: "anos";
    position: absolute;
    top: 0;
    transform: translateY(16%);
    right: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
    }



}

@media (max-width: 376px) {

    .stepIndicator {

        white-space: normal;
        text-align: center;
        width: 100%;
        /* ocupar toda a largura ! */
        margin-bottom: 10px;
        /* espaço */
        font-size: 0.8em;

    }

    .navbar .navbar-toggler {
        margin-right: 70px;

    }

    .IDADE{
        position: relative;
    }

    .IDADE::after {
    content: "anos";
    position: absolute;
    top: 0;
    transform: translateY(16%);
    right: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
    }

    .logo-invest{
        display: none;
    }

}

@media (max-width: 399px) {
    .navbar-brand{
        display: flex;
        margin: 0;
        font-size: 1.0em;
    }
    .stepIndicator {
        white-space: normal;
        text-align: center;
        width: 100%;
        /* ocupar toda a largura ! */
        margin-bottom: 5px;
        /* espaço */
        font-size: 0.8em;
    }
    .navbar .navbar-toggler {
        margin-right: auto;

    }

    .IDADE{
        position: relative;
    }

    .IDADE::after {
    content: "anos";
    position: absolute;
    top: 0;
    transform: translateY(18%);
    right: 275px;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
    }



}


/* Telas 480px */
@media (max-width: 480px) and (min-width:425px) {

    .stepIndicator {
        white-space: normal;
        text-align: center;
        width: 100%;
        /* ocupar toda a largura ! */
        margin-bottom: 5px;
        /* espaço */
        font-size: 0.8em;
    }

    .navbar .navbar-toggler {
        margin-left: 35px;

    }

    .IDADE{
        position: relative;
    }

    .IDADE::after {
    content: "anos";
    position: absolute;
    top: 0;
    transform: translateY(16%);
    right: 313px;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
}



}


@media (min-width:750px) and (max-width:1000px) {
    .navbar .navbar-toggler {
        margin-left: 400px;

    }


}
