h1 {
    font-size: 7em;
    font-weight: 600; /* Usando um peso um pouco mais leve */
    font-family: 'Cormorant Garamond', serif; /* Usando a nova fonte */
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}


h4 {
    font-size: 5em;
    font-weight: 500;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Sombreamento */

}

.logo-invest{
    width: 40px;

}

.card-body{
    margin-bottom: 50px;
}
.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.radio-option input {
    margin-right: 5px;
}

#signUpForm {
    max-width: 800px;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}

#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}

#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}

#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
}

#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: #bfa96c;
}

.TITULO{
    font-size: 25px;
    text-decoration: underline ;
    text-decoration-color: #bfa96c;
}

#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: #c2b596;
    border-radius: 50%;
    border: 3px solid #c2b596;
}

#signUpForm .form-header .stepIndicator.active::before {
    background-color: #5d5136;
    border: 3px solid #5d5136;
}

#signUpForm .form-header .stepIndicator.finish::before {
    background-color: #bfa96c;
    border: 3px solid #b7e1dd;
}

#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f0e3bd;
}
.nav-item {
    margin-right: 20px;
    transition: font-size 0.3s;            
}

.navbar-nav .nav-item .nav-link:hover {
    color: #bfa96c;
    font-weight: bold; 
    box-shadow: 0px 1px 0px 0px #bfa96c; 
    font-size: 102%;

}
            
.IDADE {
    position: relative;

}

.IDADE::after {
    content: "anos";
    position: absolute;
    top: 0;
    transform: translateY(16%);
    right: 645px;
    height: 100%;
    display: flex;
    align-items: center;
    color: gray;
}


#signUpForm .form-header .stepIndicator.active::after {
    background-color: #bfa96c;
}

#signUpForm .form-header .stepIndicator.finish::after {
    background-color: #bfa96c;
}

#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}

#signUpForm input {
    padding: 15px 20px;
    width: 100%;
    font-size: 1em;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
}

#signUpForm input:focus {
    border: 1px solid #bfa96c;
    outline: 0;
}

#signUpForm input.invalid {
    border: 2px solid;
    color: #fd4444;
}

#signUpForm .step {
    display: none;
}

#signUpForm .form-footer {
    overflow: auto;
    gap: 20px;
}

#signUpForm .form-footer button {
    background-color: #bfa96c;
    border: 1px solid #bfa96c !important;
    color: #ffffff;
    border: none;
    padding: 13px 30px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    margin-top: 5px;
}

#signUpForm .form-footer button:hover {
    opacity: 0.8;
}

#signUpForm .form-footer #prevBtn {
    background-color: #fff;
    color: #bfa96c;
}

.invalid {
    border: 2px solid;
    color: #fd4444;
}


